.btn-transparent {
    background-color: transparent;
    border-color: transparent;
    color: black;
    border-radius: 60px;
    height: 100%;
    padding: 2px 9px;
}

.btn-edit {
    color: white;
}

.btn-edit:hover {
    color: white;
}

.table td {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
  }

.alert {
    margin-bottom: 0px;
}

.filter-right {
    width: 25%;
    padding: 16px 0px;
  }